 <!-- Masthead -->
 <header class="masthead text-white text-center " style="background-image: url(assets/images/cover1.jpg);">
    <div class="overlay"> </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto text-banner">
          <a href="#!" routerLink="/view-stores"> 
              <i class="fa fa-map-marker"> </i> View Stores
          </a>
        </div>
      </div>
    </div>
  </header>

  <!-- Introduction -->
  <section class="intro text-center">
    <div class="container">
      <div class="row ">
          <h1> A <span class="intro-white-text">better</span> way to buy groceries</h1>
      </div>
      <div class="row mt-5">
          <h2> Connect to <span class="intro-white-text">high quality</span> grocery stores. Walk in and out within <span class="intro-white-text">seconds</span>.</h2>
      </div>
    </div>
  </section>
  
  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">

      <div class="row no-gutters">
        <div class="col-md-6 order-md-2 showcase-img" style="background-image: url('assets/images/strawberries.jpeg');"></div>
        <div class="col-md-6 order-md-1 my-auto showcase-text">
          <h2>1. Shop Online</h2>
          <p class="lead mb-0"> Add your favorite items to your digital shopping cart.</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-md-6 showcase-text showcase-img" style="background-image: url('assets/images/card.jpg');">    </div>
        <div class="col-md-6 my-auto showcase-text">
          <h2>2. Confirm your purchase</h2>
          <p class="lead mb-0">Pay online. Employees receive your order and pick up your items.</p>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-md-6 order-md-2 showcase-img"
             style="background-image: url('assets/images/line.jpg');"
             id="showcase__third-image">
        </div>
        <div class="col-md-6 order-md-1 my-auto showcase-text">
          <h2>3. Pick up your oder</h2>
          <p class="lead mb-0">Skip the waiting lines. Pick up your order at the Clik<span style="font-size: 1rem">&amp;</span>Collect counter.</p>
        </div>
      </div>
      
    </div>
  </section>