<div class="container fluid">
  <div class="row">
    <div class="col-4">
      <p class="column-header"> Send dummy data to server </p>
      <button class="btn btn-primary" (click)="onPost()"> Send </button>
    </div>
    <!-- <div class="col-4">
      <p class="column-header"> Save data locally </p>
      <button class="btn btn-primary" (click)="saveData()"> save </button>
    </div>
    <div class="col-4">
      <p class="column-header"> Get data locally </p>
      <button class="btn btn-primary" (click)="getData()"> get </button>
    </div> -->
  </div>
</div>
