@import '~src/sass/variables';
@import '~src/sass/global';

//@import '~sass/mixins';

// --> Spinner
// --> Spinner
.spinner{
    min-height: 90vh;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.main-body-content {
    margin-top:56px;
    @include tablet-landscape{
        margin-top: 64px;
    }
}