<div class="containe-fluid shop-parent-container" id="shopContainer">
  <p  class="title"> Our Partners </p>
  <p *ngIf="false"> Search by Postal Code, City and/or Province</p>

  <div class="form-container" *ngIf="false">
    <form #searchForm="ngForm" (ngSubmit)="onSearchSubmit(searchForm.value)">
        <input type="text" id="search" name="search" placeholder="e.g. Montreal, Quebec" required ngModel>

        <button type="submit" class="btn">
          <i class="fa fa-search"></i>
        </button>
    </form>
  </div>

  <!-- spacer  -->
  <span style="padding: 1rem"></span>

  <app-store-card
    *ngFor="let shopsArray of shopsArray"
    [shopInfo] = shopsArray> 
  </app-store-card>


</div>