@import '~src/sass/global';
@import '~src/sass/mixins';

// --> body
.payment-container{
    min-height: 80vh;
    width: 100%;
    @include tablet-landscape{
        display: flex;
        flex-direction: column;
    }
}
.row{
    margin-left: 0;
    margin-right: 0;
}
// --> title
.title{
    padding: 1rem 0;
    width: 100%;
    color: $primary;
    border-bottom: solid thin $primary-light;
    text-align: center;
    font-size: 1.2rem;
}
.title-minor{
    font-size: 1.1rem;
}

// --> Form row
.form-row{
  @include tablet-landscape{
    display: flex;
    justify-content: center;
  }
}
// --> Form
.form{
  width: 100%;
  padding: 2rem 0;
  max-width: 600px;
}
// --> Form Fields
.card-info{
  display: flex;
  flex-direction: column;
    .card-info__field{
      width: 100%;
    }
}
.exp-date{
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (min-width: 500px){
      flex-direction: row;
      justify-content: space-between;
    }
    .exp-date__field{
      width: 100%;
      @media (min-width: 500px){
        width: 45%;
      }
    }
}
// --> button
.submit{
    padding-top: 2rem;
    width: 100%;
    button{
        width: 100%;
        color: white;
        font-weight: 300;
        text-align: center;
    }
}
