<div class="container-fluid payment-container">
   <div class="row">
       <p class="title">  Payment Method </p>
       <p class="title-minor"> Please enter your card information</p>
   </div>
   <div class="row form-row">
    <form #paymentForm ="ngForm" (ngSubmit)="paymentFormData(paymentForm)" class="form">
        <div class="card-info">
              <mat-form-field class="card-info__field">
                  <input
                      type="string"
                      name="name"
                      matInput
                      required
                      ngModel
                      placeholder="Name on card" >
              </mat-form-field>
              <mat-form-field class="card-info__field">
                      <input
                          type="number"
                          name="cardNumber"
                          matInput
                          required
                          ngModel
                          placeholder="Card mumber">
              </mat-form-field>
        </div>
        <div class="exp-date">
              <mat-form-field class="exp-date__field">
                  <mat-select
                      placeholder="Month"
                      required
                      [(ngModel)]="monthSelected"
                      [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let month of months" [value]="month">
                      {{month}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="exp-date__field">
                  <mat-select
                      placeholder="Year"
                      required
                      [(ngModel)]="yearSelected"
                      [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let year of years" [value]="year">
                      {{year}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
        </div>

        <div class="submit">
              <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!(
                      paymentForm.valid &&
                      this.monthSelected!== null &&
                      this.yearSelected!== null
                  )">
                  Confirm Payment
              </button>
          </div>
    </form>
   </div>

</div>
