<div class="item-container d-flex justify-content-between">

    <div class="column-1">
        <div class="image-container">
            <img class="" src="{{item.itemImg}}">
        </div>
    </div>

    <div class="column-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 nested-column">
                    <div style="display: flex; flex-direction: column">
                        <p id="item-name">
                            {{item.itemName}}
                        </p>
                        <p style="font-size: .75rem; font-weight: bold; color: gray"> 5.99/kg </p>
                    </div>
                    <i class="fa fa-times" (click)="removeItem()"></i>
                    <!-- <i class="fa fa-times" (click)="removeItem($event)"></i> -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 nested-column">
                    <p> {{item.cost.itemCost}} $ </p>
                    <app-add-remove-button
                        [itemId] = "item.id"
                        style="padding-right: 1rem">
                    </app-add-remove-button>
                </div>
            </div>
        </div>
    </div>

</div>

