@import "~src/sass/variables";
@import "~src/sass/mixins";
@import "~src/sass/global";

.signin-container{
  display: flex;
  @media (min-width: 500px){
    justify-content: center;
  }
}
.form{
  width: 100%;
  max-width: 500px;
  position: relative;
}
.form__field{
  width: 100%;
}
.form__placeholder{
  color: black;
}

.form{
  .button-container{
    width: 100%;
    position: absolute;
    top: 15rem;
    left: 0%;
  }
}

.button-container .button{
  width: 100%;
  background-color: $primary;
  color: white;
  font-weight: 300;
  .mat-button-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
