<div class="container-fluid signin-container">
    <form #SingUpForm="ngForm" (ngSubmit)="onSignUp(SingUpForm)" class="form">
      <mat-form-field class="form__field">
        <input
          class="form__input"
          matInput
          value="Please enter your email address"
          type="email"
          ngModel
          required
          name="email"
        >
        <mat-placeholder class="form__placeholder"> Email </mat-placeholder>
      </mat-form-field>
      <mat-form-field class="form__field">
          <input
            class="form__input"
            matInput
            value="******"
            type="password"
            ngModel
            required
            name="password"
          >
          <mat-placeholder class="form__placeholder"> Password </mat-placeholder>
        </mat-form-field>

        <div class="button-container">
          <button
            type="submit"
            class="button"
            mat-flat-button
            [disabled]="!SingUpForm.valid">
              Sign Up
          </button>
        </div>
    </form>
  </div>
