@import './mixins';
@import './variables';

html,body{
    width: 100%;
}

body {
  @include body-font;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

.green-text{
    color: $brand-green;
}

.white-text{
    color: white;
}

ul{
    list-style-type: none;
}

.temp-border{
    border: solid thin;
}

