@import '~src/sass/global';
@import '~src/sass/mixins';
@import '~src/sass/variables';

//Change Quantity
.change-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 6rem;

    button{
        padding: auto 0;
        width: 3rem;
        color: white;
        font-weight: bold;
        border-radius: 0;
        background-color: $primary;
        border: none;

        :hover{
            cursor: grab;
        }
    }

    p{
        margin: auto 0;
        min-width: 2rem;
        align-items: bottom;
        text-align: center;
    }
}

// add to cart button
.addButton{
  width: 10rem;
  height: 36px;
  border: none;
  border-radius: 0;
  background-color: $primary;
  font-weight: 300 !important;
}
