
<div class="store-card-container">

  <div class="image-container">
      <div>
          <img src="{{shopInfo.image}}">
      </div>
  </div>

  <div class="details details-container">
    <div class="store-name d-flex justify-content-between">
        <p class="details__title"> {{shopInfo.name}} </p>
        <p *ngIf="false"> 2 km</p>
    </div>
    <div class="store-info">
        <p id="store-info__hours"> Open Today From 10:00am - 8:30pm</p>
        <p id="store-info__address"> 1234 St Catherine St., Montreal, QC J5X 2Q2 </p>
        <p id="store-info__number"> {{shopInfo.phoneNumber}} </p>
    </div>
    <div class="footer ">
        <p *ngIf="false"> Store Flyer </p>
        <!-- <p id="store-detail" (click)="storeDetailsState()"> Store Details </p> -->
        <app-blank-modal [modalContent]="storeHours">
            <button mat-raised-button color="primary" class="footer__button">
              <p class="footer__button-text" id="footer__hours"> Store Hours </p>
            </button>
        </app-blank-modal>
        <button mat-raised-button color="primary" class="footer__button" (click)="onNavigate()">
          <p class="footer__button-text" id="footer__enter"> Enter Store </p>
        </button>
    </div>
  </div>

</div>

<ng-template #storeHours let-d="dismiss">
    <div class="container-fluid additional-info" *ngIf="storeHours">

        <div class="additional-info-header">
            <p> Store Hours </p>
            <i class="fa fa-times" (click)="d('Cross click')"></i>
        </div>

        <ul class="additional-info-list">
          <li>
            <p class="operating-date">Monday </p>
            <p class="operating-hours"> 9:00am - 6:00pm </p>
          </li>
          <li>
            <p class="operating-date">Tuesday </p>
            <p class="operating-hours"> 9:00am - 6:00pm </p>
          </li>
          <li>
            <p class="operating-date">Wednesday </p>
            <p class="operating-hours"> 9:00am - 6:00pm </p>
          </li>
          <li>
            <p class="operating-date">Thursday </p>
            <p class="operating-hours"> 9:00am - 6:00pm </p>
          </li>
          <li>
            <p class="operating-date">Friday </p>
            <p class="operating-hours"> 9:00am - 6:00pm </p>
          </li>
          <li>
            <p class="operating-date">Saturday </p>
            <p class="operating-hours"> 9:00am - 6:00pm </p>
          </li>
          <li>
            <p class="operating-date">Sunday </p>
            <p class="operating-hours"> 9:00am - 6:00pm </p>
          </li>
        </ul>

      </div>
</ng-template>

