@import "~src/sass/variables";
@import "~src/sass/mixins";
@import "~src/sass/global";

.store-card-container{
    padding: 0;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet-landscape{
        width: 100%;
        height: 175px;
        flex-direction: row;
        align-items: flex-end;
    }
}

.image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    max-width: 30rem;
    @include tablet-landscape{
        margin-bottom: 0rem;
        width: 35%;
        height: 100%;
        justify-content: start;
        align-items: center;
    }

    img{
        width: 100%;
        height: auto;

        @include tablet-landscape{
            width: 100%;
            height: auto;
            max-width: 260px;
            max-height: 175px;
        }
    }
}

// --> Details
.details{
    .details__title{
        margin-bottom: 0 !important;
        font-size: 1.5rem;
        font-weight: 300;
        color: $primary;
    }
}
.details-container{
    padding: 0;
    width: 100%;
    max-width: 30rem;
    @include tablet-landscape{
        padding-left: 4rem;
        width: 65%;
    }
    .store-info{
        margin-bottom: 1rem;
        p{
            margin:.5rem 0;
        }
        #store-info__hours{
            font-weight: bold;
        }
    }

    .footer{
        display: flex;
        flex-direction: row;
        p{
            cursor: pointer;
        }
    }
}

// --> details footer button
.footer .footer__button{
    margin-right: 1rem;
}
.footer .footer__button-text{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 300;
}

// Store hours
.additional-info{
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
    .additional-info-list{
        padding: 0;
        display: flex;
        flex-direction: column;

        li{
            margin: 0;
            padding: .5rem .5rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        p{
            margin: 0;
            font-weight: 300;
        }
    }
}

.additional-info-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    color: $primary;

    p{
        font-size: 1.25rem;
        font-weight: 400;
    }
    i{
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: 400;
        cursor: pointer;
    }
}
.additional-info-list{
    .operating-date{
        width: 20%;
        font-weight: bold;
    }
    .operating-hours{
        width: 80%;
        text-align: right;
    }
    @include tablet-landscape{
        .operating-date{
            width: 100%;
            text-align: center;
        }
        .operating-hours{
            width: 100%;
            text-align: center;
        }    
    }
}
