<div class="container cart-container">

   <div class="row">
       <div class="col-12 col-md-6 title">
           <p class="title__header"> My Cart </p>
           <hr>
       </div>
   </div>

   <div class="row">
       <div class="col-12 col-md-6" style="padding: 0; padding-bottom: .5rem;">
            <div class="cart-empty" *ngIf="userItems.length === 0">
                <button mat-raised-button color="primary" routerLink="/view-stores">
                    <p> Your cart is empty. View stores </p>
                    <i class="material-icons">arrow_forward</i>
                </button>
            </div>

           <app-checkout-product
                *ngFor="let item of userItems"
                [item]= "item">
            </app-checkout-product>
       </div>

       <!-- Payments -->
       <div class="payment">
            <div class="row">
                <p class="title">  Check Out </p>
            </div>
            <div class="row">
                <div class="col-6" class="total1 total">
                    <ul class="total1__list">
                        <li> Subtotal $ </li>
                        <li> Taxes $    </li>
                        <li >
                            <span class="total__text-highlight"> Order Total $</span>
                        </li>
                    </ul>
                </div>
                <div class="col-6" class="total2 total">
                    <ul class="total2__list">
                        <li> {{userCost.subTotal}} </li>
                        <li> {{userCost.taxes}} </li>
                         <li >
                            <span class="total__text-highlight">{{userCost.total}}</span>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="row">
                 <div class="col-12" class="button">
                     <button
                        mat-raised-button color="primary"
                        [disabled]="(userItems.length === 0)"
                        (click)="navigateTo()">
                        Pay Now
                     </button>
                 </div>
             </div>
        </div>

   </div>

</div>
